<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            {{#if admin}}
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each palavrachaves}}
        <tr>
            <th scope="row">{{nome}}</th>
            {{#if ../admin}}
            <td><a href="palavrachaveUpdate/{{id}}">Editar</a></td>
            <td><a href="palavrachaveDelete/{{id}}">Deletar</a></td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>