<div class="container">
    <h1>Criar Novo Conhecimento</h1>
    <form action="/conhecimentoCreateAdmin" method="post">
        <div class="form-group">
            <label for="inputNome">Nome do Conhecimento:</label>
            <input type="text" class="form-control" id="inputNome" name="nome" required>
        </div>
        <button type="submit" class="btn btn-primary">Criar Conhecimento</button>
    </form>
</div>