<head>
    <style>
       input[type="text"],
        input[type="password"] {
        width: 400px; /* Ajuste o valor para a largura desejada */
        margin: 0 auto; /* Centraliza horizontalmente */
        }
    </style>
</head>
<form action="/login" method="post">
    <div class="form-group">
        <label for="inputLogin">Login</label>
        <input type="text" class="form-control" id="inputLogin" name="login">
    </div>
        <div class="form-group">
        <label for="inputSenha">Senha</label>
        <input type="password" class="form-control" id="inputSenha" name="senha">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
<!DOCTYPE html>
<html>
